---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";

import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Project from "../components/Project.astro";
import Card from "../components/Card.astro";

import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import ChevronDownIcon from "../icons/ChevronDownIcon.astro";
import MongoDBIcon from "../icons/MongoDBIcon.astro";
import AngularIcon from "../icons/AngularIcon.astro";
import BootstrapIcon from "../icons/BootstrapIcon.astro";
import JavaScriptIcon from "../icons/JavaScriptIcon.astro";

import "aos/dist/aos.css";
import Experience from "../components/Experience.astro";
import PhoneIcon from "../icons/PhoneIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
---

<Layout
  title="Portfolio de Pablo - Desarrollador y Programador Web"
  description="Portfolio de Pablo, desarrollador web especializado en Angular y principiante en Astro. Creador de interfaces dinámicas y eficientes para una experiencia de usuario excepcional."
>
  <main class="w-full">
    <SectionContainer
      class="py-24 pb-24 mx-0 px-6 w-screen flex flex-col justify-center items-center flex-wrap"
    >
      <div class="flex flex-col justify-center items-start">
        <img
          class="rounded-full size-14 mb-4 object-cover"
          src="images/profile-picture.webp"
          alt="pablo photo"
        />
        <h1
          class="text-white text-3xl md:text-4xl lg:text-5xl
          font-bold flex flex-col justify-center items-start
          gap-x-4 pb-6 md:flex-row md:items-center"
        >
          Pablo Rodríguez
          <a
            href="https://www.linkedin.com/in/pablorodriguezalbarran/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex justify-center items-center mt-2"
          >
            <Badge>Disponible parar trabajar</Badge>
          </a>
        </h1>
        <h2 class="lg:text-2xl text-xl max-w-[700px] text-pretty">
          <span class="text-yellow-200/90">Desarrollador web.</span>
          <span class="text-red-200/90">Alicante, España.</span>
          <span class="opacity-75 text-pretty text-white">
            Especializado en desarrollo frontend con Angular y Astro, creo
            interfaces dinámicas y eficientes para una experiencia de usuario
            excepcional.
          </span>
        </h2>

        <nav class="flex flex-wrap gap-4 mt-6">
          <SocialPill
            href="https://www.linkedin.com/in/pablorodriguezalbarran/"
          >
            <LinkedInIcon class="md:size-6 size-4" stroke="white" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/pablorod1">
            <GitHubIcon class="md:size-6 size-4" stroke="white" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:pablorodriguezalbarran2000@gmail.com">
            <MailIcon class="md:size-6 size-4" stroke="white" />
            pablorodriguezalbarran2000@gmail.com
          </SocialPill>
        </nav>
      </div>
      <a href="#experience">
        <ChevronDownIcon
          class="size-16 mt-32 animate-bounce mx-auto opacity-80"
        />
      </a>
    </SectionContainer>

    <SectionContainer
      id="experience"
      class="pt-24 pb-44 px-10 mx-0 relative lg:w-screen md:w-screen md:mx-0 md:pt-64 min-h-screen"
    >
      <img
        class="absolute top-4 z-[-1] opacity-[0.03] pe-16 lg:top-16"
        src="images/EXPERIENCIA.webp"
      />
      <Experience class="lg:w-[778px]" />
    </SectionContainer>

    <SectionContainer
      class="py-56 pb-56 px-10 mx-0 relative min-h-screen"
      id="projects"
    >
      <div class="mb-20" data-aos="fade-in">
        <img
          class="w-full absolute -top-32 lg:-top-44 z-[-1] opacity-[0.03]"
          src="images/PROYECTOS.webp"
        />
        <h2 class="text-6xl text-center mb-2 text-white">
          Bienvenido a mi Portfolio
        </h2>
        <p class="text-xl text-center text-gray-300/80">
          Este es mi portfolio personal, donde muestro mis proyectos y mi
          experiencia en el desarrollo web.
        </p>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-32">
        <Project
          href="https://angular-template-omega.vercel.app/home"
          title="Angular Template"
          description="Plantilla de Angular con diseño responsive y animaciones."
          image="/images/angular-template-mac.png"
          data-aos="fade-up-left"
          data-aos-duration="1200"
          data-aos-delay="100"
        >
          <AngularIcon class="size-6" />
          <BootstrapIcon class="size-6" />
        </Project>
        <Project
          href="https://angular-dashboard-six.vercel.app/dashboard"
          title="Angular Dashboard"
          description="Dashboard de Angular con gráficos y widgets personalizables."
          image="/images/angular-dashboard-mac.png"
          data-aos="fade-up-right"
          data-aos-duration="1200"
          data-aos-delay="100"
        >
          <AngularIcon class="size-6" />
          <BootstrapIcon class="size-6" />
        </Project>
        <Project
          href="https://negoco.vercel.app"
          title="Negoco"
          description="Comparador de Telefonía y Ahorro Energético."
          image="/images/negoco-mac.png"
          data-aos="fade-up-left"
          data-aos-duration="1200"
          data-aos-delay="100"
        >
          <AngularIcon class="size-6" />
          <img class="size-6" src="images/nodejs.webp" alt="" />
          <JavaScriptIcon class="size-6" />
          <MongoDBIcon class="size-6" />
        </Project>
        <Project
          href="https://pm-db.vercel.app/"
          title="PMDB"
          description="Base de datos de Películas y Series"
          image="/images/pmdb_mac_img.png"
          data-aos="fade-up-right"
          data-aos-duration="1200"
          data-aos-delay="100"
        >
          <AstroIcon class="size-6" />
          <JavaScriptIcon class="size-6" />
          <TailwindIcon class="size-6" />
        </Project>
        <Project
          href="https://asesoresmsl.com/"
          title="Asesoría MSL"
          description="Web corporativa para una asesoría fiscal y laboral."
          image="/images/asesoria-mac.png"
          data-aos="fade-up-right"
          data-aos-duration="1200"
          data-aos-delay="100"
        >
          <AstroIcon class="size-6" />
          <JavaScriptIcon class="size-6" />
          <TailwindIcon class="size-6" />
        </Project>
      </div>
    </SectionContainer>

    <SectionContainer
      id="about"
      class="py-56 pb-24 relative mx-0 px-6 md:w-screen md:mx-0 min-h-screen"
    >
      <img
        class="absolute pe-14 top-24 z-[-1] opacity-[0.03] lg:-top-2"
        src="images/sobremi-text.webp"
      />
      <div
        class="flex flex-col justify-center items-center gap-20 lg:flex-row max-w-7xl mx-auto"
      >
        <img
          class="rounded-full mb-4 object-cover w-min aspect-square
          animate-float"
          src="images/profile-picture.webp"
          alt="pablo photo"
        />
        <div class="flex flex-col gap-10">
          <h2 class="text-4xl font-semibold text-white">
            Conóceme un poco más
          </h2>
          <p class="text-lg text-gray-300/90 text-pretty">
            Soy Pablo Rodríguez, desarrollador frontend de Alicante, España, con
            una formación sólida que incluye un Grado Superior en Administración
            de Sistemas Informáticos en Red con especialización en
            Ciberseguridad, un Bootcamp en JavaScript/TypeScript y actualmente
            el Máster Frontend de Lemoncode.
          </p>
          <p class="text-lg text-gray-300/90 text-pretty">
            He trabajado en proyectos variados, como una aplicación móvil en
            Ionic para el Concello de Santiago durante mis prácticas en
            LucentiaLab, una plataforma de comparación de servicios en Negoco
            utilizando Angular y Node.js, y una página informativa para Asesoría
            Mari Carmen Sánchez Lucas desarrollada con Astro y TailwindCSS.
            Actualmente, formo parte del equipo de SkyT3L, donde contribuyo al
            mantenimiento y optimización de la web de la empresa.
          </p>
          <p class="text-lg text-gray-300/90 text-pretty">
            Como desarrollador frontend, aporto un enfoque en la eficiencia, la
            escalabilidad y el diseño centrado en el usuario. Mi objetivo es
            ofrecer soluciones innovadoras y bien estructuradas que mejoren la
            experiencia del usuario y optimicen el rendimiento de cada proyecto.
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer
      class="py-56 pb-24 mx-0 relative md:w-screen"
      id="contact"
    >
      <img
        class="absolute top-44 ms-8 z-[-1] opacity-[0.03] pe-16 lg:-top-2"
        src="images/CONTACTO.webp"
      />
      <div class="flex flex-col max-w-7xl mx-auto p-6 lg:flex-row lg:gap-x-16">
        <div class="mb-8">
          <h2 class="text-5xl font-bold mb-2 text-white">Contáctame</h2>
          <p class="text-gray-300 text-balance">
            Si deseas contactar conmigo, puedes hacerlo a través de alguno de
            los siguientes métodos.
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">
          <Card
            title="LinkedIn"
            body="Échale un vistazo a mi LinkedIn"
            href="https://www.linkedin.com/in/pablorodriguezalbarran/"
            link="Pablo Rodríguez Albarrán"
          >
            <LinkedInIcon class="size-6" stroke="#030712" />
          </Card>
          <Card
            title="GitHub"
            body="Mira mis proyectos en GitHub"
            href="https://github.com/pablorod1"
            link="pablorod1"
          >
            <GitHubIcon class="size-6" stroke="#030712" />
          </Card>
          <Card
            title="Correo"
            body="Envíame un correo"
            href="mailto:pablorodriguezalbarran2000@gmail.com"
            link="pablorodriguezalbarran2000@gmail.com"
          >
            <MailIcon class="size-6" stroke="#030712" />
          </Card>
          <Card
            title="Teléfono"
            body="Llámame o envíame un mensaje"
            href="tel:+34662268181"
            link="+34 662 26 81 81"
          >
            <PhoneIcon class="size-6" stroke="#030712" />
          </Card>
        </div>
      </div>
    </SectionContainer>
  </main>

  <style></style>
</Layout>
