---
import ExperienceItem from "./ExperienceItem.astro";

const experiences = [
  {
    date: "Actualmente",
    title: "Desarrollador Web FrontEnd en SkyT3L",
    description:
      "Desarrollo y mantenimiento de aplicaciones web. Actualmente me encargo del mantenimiento de la web de la empresa.",
  },
  {
    date: "14 Sep 2024 - 14 Oct 2024",
    title: "Desarrollador FrontEnd en Asesoría Mari Carmen Sánchez Lucas",
    description:
      "Desarrollo de la aplicación web de la empresa, una plataforma para la gestión de clientes y servicios. La aplicación está desarrollada en Astro y Tailwindcss.",
  },
  {
    date: "01 May 2024 - 01 Sep 2024",
    title: "Desarrollador FrontEnd Negoco",
    description:
      "Desarrollo de la aplicación web Negoco, una plataforma para comparar servicios de telefonía y ahorro energético. La aplicación está desarrollada en Angular, y cuenta con un backend en Node.js y Express.",
  },
  {
    date: "03 Feb 2024 - 03 Jul 2024",
    title: "Desarrollador Frontend en Prácticas en LucentiaLab",
    description:
      "Durante mis prácticas, desarrollé plantillas en Angular utilizando Bootstrap y Angular Material: una básica y otra en formato dashboard con diferentes aplicaciones web. Además, participé en el desarrollo de una aplicación móvil para el Concello de Santiago.",
  },
];
---

<div class="flex justify-center items-center">
  <ol class="relative border-s border-gray-200 ml-2 lg:w-[778px]">
    {
      experiences.map((experience) => (
        <li class="mb-24 ms-4">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</div>
