<header
  class="
  flex justify-center items-center
  py-5 px-10 mx-0
  w-screen
  md:w-screen md:px-10
  xl:w-screen"
>
  <nav class="flex flex-row flex-wrap gap-x-10 gap-y-5 opacity-80 text-white">
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mí</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
