---
import Footer from "../components/Footer.astro";
import Header from "../components/Header";
import Analytics from "@vercel/analytics/astro";

import "@fontsource-variable/onest";

import "aos/dist/aos.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <Analytics />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] min-w-[100dvh] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header client:only="react" />
    <slot />
    <Footer />
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark light;
    --background-color: #0a0a0a;
  }
  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    width: 100%;
    transform: translateZ(0);
    position: relative;
  }

  .animate-size {
    interpolate-size: allow-keywords;
  }

  .glide__slide {
    height: auto;
  }

  @media (min-width: 350px) and (max-width: 1024px) {
    body {
      width: 100dvw;
      overflow-x: hidden !important;
    }
  }

  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
