---
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';

import "@fontsource-variable/onest";

import "aos/dist/aos.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<Header />
		<slot />
		<script>
			import AOS from "aos"; 
      AOS.init(); 
		</script>
	</body>
</html>
<style is:global>
	:root{
		color-scheme: dark light;
	}
	html{
		font-family: "Onest Variable", sans-serif;
		scroll-behavior: smooth;
		width: 100%;
		min-width: 100dvh;
		overflow-x: hidden;
	}
	body {
    display: flex;
    flex-direction: column;
    background: #0a0a0a;
    min-height: 100dvh;
		min-width: 100dvh;
    width: 100%;
  }
	@media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
